name: continuous-integration
on:
    push:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        name: lint-and-jest
        steps:
            - uses: actions/checkout@v3
            - uses: bahmutov/npm-install@v1
            - run: npm run lint
            - run: npm run test
